
# NEVER COMMIT THIS FILE!!

# AWS
AWS_ACCESS_KEY_ID=KEY
AWS_SECRET_ACCESS_KEY=MY_SECRET
AWS_DEFAULT_REGION=eu-west-1
S3_BUCKET=NAME_BUCKET

# Databricks
DATABRICKS_HOST=https://ditt-workspace.azuredatabricks.net
DATABRICKS_TOKEN=MY_TOKEN

# Pipeline
PIPELINE_ENV=staging